.hidden {
    display: none;
}

 img {
    background-size: cover;
    position: absolute;
    height: 100vh;
    width: 100vw;
    left: 0px;
    top: 0px;
    right:0px;
    bottom:0px;
    z-index: -1;
    opacity:80%;
}

#clock {
    font-size: 60px;
}

